---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";
import { Image } from "@astrojs/image/components";
import thuanowaFace from "/public/thuanowa-face.jpeg";
const thuanowaFaceWidth = 200;
const imageFormat = "avif";

const meta = {
	title: "About",
	description: "yo! I'm Thuan PHam aka thuanowa",
};
---

<PageLayout meta={meta}>
	<style>
		.fast {
			background-image: linear-gradient(45deg, #000000, #000000 30%, #ffffff 60%);
			background-size: 200% auto;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			animation: textclip 0.1s linear infinite;
		}
		@keyframes textclip {
			to {
				background-position: 200% center;
			}
		}
	</style>
	<div class="space-y-6">
		<p class="mb-4">I'm making the internet more beautiful and blazingly fast.</p>
		<p>Here my face:</p>
		<Image
			src={thuanowaFace}
			width={thuanowaFaceWidth}
			format={imageFormat}
			alt="thuan pham aka thuanowa face"
			loading="eager"
		/>
		<SocialList />
		<p>
			Here is my resume: <a class="cactus-link inline-block" href="https:/l.thuanowa.com/resume"
				>https:/l.thuanowa.com/resume</a
			>
		</p>
		<p>
			I usually make video in my daily life as <a
				class="cactus-link inline-block"
				href="https://youtube.com/@thuanowa">youtube.com/@thuanowa</a
			>
		</p>
		<ul>
			<strong>Bio</strong>
			<li>
				Dead: <a href="https://last-will.thuanowa.com" class="cactus-link inline-block"
					>last-will.thuanowa.com</a>
			</li>
			<li>2023+: Finding the front-end dev internship</li>
			<li>2023: Spent 4 years in Saigon Technology University</li>
			<li>
				2018: Start make making video on youtube <a
					href="https://www.youtube.com/@thuanowa"
					class="cactus-link inline-block">https://www.youtube.com/@thuanowa</a
				>
			</li>
			<li>
				2007-2019: Spent 12 years study in Nguyễn Văn Trân Primary School, Đa Phước Middle School
				and Đa Phước High School
			</li>
			<li>2001: Born in Ho Chi Minh city, Vietnam</li>
		</ul>

		<ul>
			<strong>Likes</strong>
			<li>Making things beautiful and blazingly <span class="fast">fast</span></li>
			<li>Cycling</li>
			<li>Cooking</li>
			<li>Playing with my dog</li>
			<li></li>
		</ul>
	</div>
</PageLayout>
